@{     ViewData["Title"] = "Delete Bowler";
}

@model Bowler

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.BowlerLastName, @Model.BowlerFirstName?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</a>
    <input type="hidden" asp-for="BowlerID" />
</form>