@{
    ViewData["Title"] = "Add/Edit";
}

@model Bowler

<h3>Fill out bowler information to create a new bowler or update and existing bowler</h3>

<div>
    <form method="post" asp-action="EditAddBowler">

        <div asp-validation-summary="All"></div>
        <input asp-for="BowlerID" type="hidden" />

        <label asp-for="BowlerLastName">Last Name:</label>
        <input asp-for="BowlerLastName" /><br />

        <label asp-for="BowlerFirstName">First Name:</label>
        <input asp-for="BowlerFirstName" /><br />

        <label asp-for="BowlerMiddleInit">Middle Initial:</label>
        <input asp-for="BowlerMiddleInit" /><br />

        <label asp-for="BowlerAddress">Address:</label>
        <input asp-for="BowlerAddress" /><br />

        <label asp-for="BowlerCity">City:</label>
        <input asp-for="BowlerCity" /><br />

        <label asp-for="BowlerState">State:</label>
        <input asp-for="BowlerState" /><br />

        <label asp-for="BowlerZip">Zip:</label>
        <input asp-for="BowlerZip" /><br />

        <label asp-for="BowlerPhoneNumber">Phone Number:</label>
        <input asp-for="BowlerPhoneNumber" /><br />

        <label asp-for="TeamID">Team:</label>
        <select asp-for="TeamID">
            <option value="1">Marlins</option>
            <option value="2">Sharks</option>
            <option value="3">Terrapins</option>
            <option value="4">Barracudas</option>
            <option value="5">Dolphins</option>
            <option value="6">Orcas</option>
            <option value="7">Manatees</option>
            <option value="8">Swordfish</option>
            <option value="9">Huckleberrys</option>
            <option value="10">MintJuleps</option>
        </select>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>