@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Bowlers</h1>

<ul>
    @foreach (var b in Model)
    {
        <li>@b.BowlerID - @b.BowlerFirstName @b.BowlerLastName</li>
    }
</ul>